button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.city-container {
  margin-top: 50px;
}

.city-list {
  margin-top: 25px;
}

.list-container {
  margin-top: 30px;
}

.list {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#city-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.rank {
  font-size: 500%;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
  position: relative;
  height: 100vh;
}
.fade-carousel .carousel-inner .item {
  height: 100vh;
}
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 6;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}
.hero h1 {
  font-size: 6em;    
  font-weight: bold;
  margin: 0;
  padding: 0;
}


.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
     -moz-transition: 2s all ease-in-out .1s; 
      -ms-transition: 2s all ease-in-out .1s; 
       -o-transition: 2s all ease-in-out .1s; 
          transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
     -moz-transition: 2s all ease-in-out .1s; 
      -ms-transition: 2s all ease-in-out .1s; 
       -o-transition: 2s all ease-in-out .1s; 
          transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  z-index: 5;
  background-color: #070a0f;
  opacity: .45;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {

  z-index: 3;
  background-image: url(https://i.imgur.com/lAaCSEV.jpg); 
}
.fade-carousel .slides .slide-2 {
  /* position: absolute; */
  z-index: 3;
  background-image: url(http://i.imgur.com/OVxlTm7.jpg);
}
.fade-carousel .slides .slide-3 {
  /* position: absolute; */
  z-index: 3;
  background-image: url(http://i.imgur.com/MUmB8qg.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
  .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
  .hero h1 { font-size: 4em; }    
}


#video{
  margin-top:40px;
}

.youtube{
  margin-top: -15px
}

#flagupload{
  color:white;
}

.democratize{
  text-align: center;
 
  width: 100%;
  height: 100%;
  padding:20px;
  background-color:#ecf0f1;
  box-shadow: 10px 10px 5px #888888;
  
}

.citlist{
  margin-top: -60px
}

.video{
  padding: 0;
}

.btn{
  margin-top:30px;
  
}


/* ---------------------------- */

.page-header{
  height:20px;
}


.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
 Multicoloured Hover Variations
*/

#social-fb:hover {
  color: #3B5998;
}
#social-tw:hover {
  color: #4099FF;
}
#social-gp:hover {
  color: #d34836;
}
#social-em:hover {
  color: #f39c12;
}

hr.two{
  border-top: 3px solid grey;
}

h1.title{
  margin-top:40px;
}

hr.one {
  /* margin-top: 21px; */
  margin-bottom: -30px;
  border: 0;
  border-top: 1px solid grey;
}